body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#f28e26, #fd644f);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* s */

.App-header {
  background: none !important;
}

.logo {
  height: 70px;
  width: 70px;
  margin-left: 20px;
  margin-top: 12px;
}

.bi-list {
  color: white;
  margin-right: 20px;
  margin-top: 12px;
}